
/*For Smaller Devices, Refer to https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/

@media screen 
  and (min-device-width: 100px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacts {
        margin-left: 0rem;
    }

    .proj-zone{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .image-item {
        height: 200px;
        width: 200px;
        justify-self: center;
    }
}